In [1]:
import json
import pandas as pd

In [13]:
json_data = []
with open('cadets.json', 'r') as f:
    for line in f:
        json_data.append(json.loads(line))

In [17]:
# json_data[0]
print(len(json_data))

1

In [16]:
print(type(json_data[0][1]))
for key in json_data[0][0]:
	print(key)

<class 'dict'>
id
email
login
first_name
last_name
usual_full_name
usual_first_name
url
phone
displayname
kind
image
staff?
correction_point
pool_month
pool_year
location
wallet
anonymize_date
data_erasure_date
created_at
updated_at
alumnized_at
alumni?
active?
groups
cursus_users
projects_users
languages_users
achievements
titles
titles_users
partnerships
patroned
patroning
expertises_users
roles
campus
campus_users

In [8]:
keys = ["login", "url", "displayname", "pool_month", "pool_year"]
list1 = [json_data[0][0][key] for key in keys]
print(list1)

['wehuang', 'https://api.intra.42.fr/v2/users/wehuang', 'Weizheng Huang', 'august', '2023']

In [11]:
list_t = json_data[0][0]["cursus_users"][1]
list1.append(list_t["blackholed_at"])
print(list1)
for i in range(0, len(list1)):
	print(type(list1[i]))

['wehuang', 'https://api.intra.42.fr/v2/users/wehuang', 'Weizheng Huang', 'august', '2023', '2024-02-18T02:00:00.000Z', '2024-02-18T02:00:00.000Z']
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
def make_data(json_list: list, now: int) -> pd.DataFrame:
	data = {"Name": [], "Full_Name": [], "Level": [],
			"batch_month": [], "batch_year": [], 
			"blackhole_date": []}#, "days_before_blackhole": []}
	for i in range(0, len(json_list[0])):
		data["Name"].append(json_list[0][i]["login"])
		data["Full_Name"].append(json_list[0][i]["displayname"])
		data["batch_month"].append(json_list[0][i]["pool_month"])
		data["batch_year"].append(json_list[0][i]["pool_year"])
		data["Level"].append(json_list[0][i]["cursus_users"][1]["level"])
		data["blackhole_date"].append(json_list[0][i]["cursus_users"][1]["blackholed_at"])
	return (pd.DataFrame(data))

In [22]:
df = make_data(json_data, 5)
df.head()

      Name       Full_Name batch_month batch_year            blackhole_date
0  wehuang  Weizheng Huang      august       2023  2024-02-18T02:00:00.000Z
1    rteoh       Ryan Teoh      august       2023  2024-01-01T02:00:00.000Z
2    ychai  Yong Kang Chai      august       2023  2024-01-01T02:00:00.000Z
3  tjun-yu      Tan Jun Yu      august       2023  2024-01-01T02:00:00.000Z
4    kiloh   Kian Feng Loh      august       2023  2024-01-01T02:00:00.000Z